{% extends 'base.html' %}


{% block title %} Prices {% endblock %}


{% block body %}

    <div class="container">
        <div class="bg-faded p-4 my-4">
            <table class="table table-responsive  table-bordered">
                <thead>
                <tr>
                <th>No.</th>
                <th>Type</th>
                <th>0.5kg</th>
                <th>1.0kg</th>
                <th>1.5kg</th>
                <th>2.0kg</th>
                <th>2.5kg</th>
                <th>3.0kg</th>
                <th>3.5kg</th>
                <th>4.0kg</th>
                <th>4.5kg</th>
                <th>5.0kg</th>
                </tr>
                </thead>

                <tbody>
                    
                <tr>
                <th scope="row">1</th>
                <td>Stawberry</td>
                <td>1200</td>
                <td>1600</td>
                <td>2100</td>
                <td>2500</td>
                <td>3100</td>
                <td>3600</td>
                <td>4100</td>
                <td>4600</td>
                <td>5100</td>
                <td>5600</td>
                </tr>

                <tr>
                <th scope="row">2</th>
                <td>Chocolate</td>
                <td>1200</td>
                <td>1600</td>
                <td>2100</td>
                <td>2500</td>
                <td>3100</td>
                <td>3600</td>
                <td>4100</td>
                <td>4600</td>
                <td>5100</td>
                <td>5600</td>
                </tr>
                
                <tr>
                <th scope="row">3</th>
                <td>Marble</td>
                <td>1200</td>
                <td>1600</td>
                <td>2100</td>
                <td>2500</td>
                <td>3100</td>
                <td>3600</td>
                <td>4100</td>
                <td>4600</td>
                <td>5100</td>
                <td>5600</td>
                </tr>
                
                <tr>
                <th scope="row">4</th>
                <td>Vanilla</td>
                <td>1200</td>
                <td>1600</td>
                <td>2100</td>
                <td>2500</td>
                <td>3100</td>
                <td>3600</td>
                <td>4100</td>
                <td>4600</td>
                <td>5100</td>
                <td>5600</td>
                </tr>
                
                <tr>
                <th scope="row">5</th>
                <td>Lemon</td>
                <td>1200</td>
                <td>1600</td>
                <td>2100</td>
                <td>2500</td>
                <td>3100</td>
                <td>3600</td>
                <td>4100</td>
                <td>4600</td>
                <td>5100</td>
                <td>5600</td>
                </tr>
                
                <tr>
                <th scope="row">6</th>
                <td>Orange</td>
                <td>1200</td>
                <td>1600</td>
                <td>2100</td>
                <td>2500</td>
                <td>3100</td>
                <td>3600</td>
                <td>4100</td>
                <td>4600</td>
                <td>5100</td>
                <td>5600</td>
                </tr>
                
                <tr>
                <th scope="row">7</th>
                <td>Black Forest</td>
                <td>1300</td>
                <td>1900</td>
                <td>2300</td>
                <td>2800</td>
                <td>3200</td>
                <td>3700</td>
                <td>4200</td>
                <td>4700</td>
                <td>5200</td>
                <td>5700</td>
                </tr>
                
                <tr>
                <th scope="row">8</th>
                <td>Passion</td>
                <td>1300</td>
                <td>2000</td>
                <td>2400</td>
                <td>2800</td>
                <td>3200</td>
                <td>3700</td>
                <td>4200</td>
                <td>4700</td>
                <td>5200</td>
                <td>5700</td>
                </tr>
                
                <tr>
                <th scope="row">9</th>
                <td>White Forest</td>
                <td>1400</td>
                <td>2000</td>
                <td>2400</td>
                <td>3000</td>
                <td>3400</td>
                <td>3800</td>
                <td>4300</td>
                <td>4800</td>
                <td>5300</td>
                <td>5800</td>
                </tr>
                
                <tr>
                <th scope="row">10</th>
                <td>Red Velvet</td>
                <td>1400</td>
                <td>2000</td>
                <td>2500</td>
                <td>3000</td>
                <td>3600</td>
                <td>4100</td>
                <td>4600</td>
                <td>5100</td>
                <td>5600</td>
                <td>6100</td>
                </tr>

                <tr>
                <th scope="row">11</th>
                <td>Banana cake</td>
                <td>1400</td>
                <td>2200</td>
                <td>2600</td>
                <td>3000</td>
                <td>3500</td>
                <td>4000</td>
                <td>4500</td>
                <td>5000</td>
                <td>5500</td>
                <td>6000</td>
                </tr>

                </tbody>
            </table>
            <p><b>NB.</b></p>
            <p>Please note that we can deliver to Gateway Mall, Syokimau or within the CBD but at a fee.</p>
        </div>
    </div>

{% endblock %}
